body{
  font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
ul, li{
	margin-bottom: 0;
}
.spacing{margin-top: 2.5rem;}
.centered{text-align: center;}
/*header starts*/
header{height: 70px; display: flex; align-items: center; background: #f9f9f9; border-bottom: 1px solid #999;}
.logo h3{font-size: 1.6em; font-style: italic; margin-bottom: 0; padding-top: 5px; color: #a4a4a4;}

/*Mobile menu*/
/*MOBILE MENU*/
.hamb {
  background: transparent;
  margin-left: auto;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 999;
}

.hamb span i {
  width: 25px;
  height: 5px;
  background: #999;
  position: absolute;
  left: 25%;
}

.span1 .span2 .span3 i {
  position: absolute;
}

.hamb .spanf:nth-child(1) i {
  top: 20%;
}

.hamb .spans:nth-child(2) i {
  top: 40%;
}

.hamb .spant:nth-child(3) i {
  top: 60%;
}

.span1:nth-child(1) i {
  top: 40% !important;
  transform: rotate(45deg);
}

.span2:nth-child(2) i {
  left: 130px;
}

.span3:nth-child(3) i {
  top: 40% !important;
  transform: rotate(-45deg);
}


.menu{
  position: relative;
  transition: all 0.3s ease-in-out;
}
.menu .menu-list{
  list-style: none;
  position: absolute;
  background: #5a5050;
  padding: 10px 0;
  width: 45%;
  right: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  transform: translateY(-300px);
}

.menu ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9em;
}

.active{ transform: translateY(0) !important;}

/*End of mobile menu*/


.first-image{

  background-image: url("../images/minimal/macbook.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
}

.first-image .overlay{
  background-color: rgba(107,117,110,0.7);
  height: 200px;
}

.overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.overlay h1{
  font-size: 1.6em;
  color: #ffffff;
}
.overlay p{
  font-size: 0.9em;
  color: rgb(245, 222, 179);
}

.overlay a{
  font-size: 0.9em;
  box-sizing: border-box;
  padding: 5px 5px;
  background: rgba(245, 222, 179, 0.5);
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}
.overlay-button a{
        display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgba(245, 222, 179, 0.7);
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

/*3 columns*/
.centered{text-align: center;}
.middle-icons{box-sizing: border-box; border-radius: 10px; background: #fafafa; padding: 20px 10px;}
.middle-icons i{font-size: 4rem;}
.middle-icons:nth-child(1) i {color: #420937;}
.middle-icons:nth-child(2) i {color: #150113;}
.middle-icons:nth-child(3) i {color: #77a7b2;}
.middle-subtitle{font-size:0.9em; font-style: italic; margin-top: 1rem;}
.middle-icons hr{border-top: 1px solid #afafaf; width: 50%; margin-top: 1rem; margin-bottom: 2rem;}
.middle-text p{line-height: 2.4rem; text-align: center; font-size: 0.9em;}
.middle-icons a{
      display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgba(245, 222, 179, 0.7);
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.middle-icons:nth-child(2){margin: 5px 0;}
/*End of 3 columns*/

/*BANNER*/
.banner{background: #f5f5f5;}
.banner-image{
  background-image: url("../images/minimal/hipster.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
}
.banner-image .overlay{
  background-color: rgba(107,117,110,0.7);
  height: 200px;
}

.banner-image .overlay h1{font-style: italic; letter-spacing: 1.2px;}
.banner-image .overlay p {font-size: 0.9em; color: wheat; text-align: center; padding: 5px 10px;}
/*END OF BANNER*/

/*NEWSLETTER*/
.contact h2{font-size: 1.3em; text-align: center;}
.newsletter{text-align: center; display: flex; flex-direction: column;}
input[type="email"]{background: #fafafa; width: 50%; margin: 5px auto;}
input[type="submit"]{background-color: rgba(245, 222, 179, 0.7); width: 50%; margin: 0 auto;}
/*END OF NEWSLETTER*/

/*Footer*/

footer{background: #f2f2f2; padding: 20px 0;}

.footer-information{text-align: center;}
.footer-information h4{color: #444; font-size: 1.3em; font-weight: bold;}
.footer-information p{font-size: 0.9em;}
.footer-information a{color: #000; font-size: 0.9em; transition: all 0.3s ease-in-out;}

.footer-related{text-align: center;}
.footer-related h4{color: #444; font-size: 1.3em; font-weight: bold;}
.footer-related p{font-size: 0.9em;}

/*End of Footer*/

/*COPYRIGHT*/
.last-row{background: #f8f8f8;}
.copyright p{text-align: center; color: #444; font-style: italic; margin-bottom: 5px; margin-top: 5px; font-size: 0.7em;}

/*END OF COPYRIGHT*/
@media (min-width: 400px) {


}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
 .middle-icons:nth-child(2){margin: 0 0;}
 .middle-icons a{padding: 0 10px;}
 input[type="email"]{width: 35%; margin: 5px auto;}
 input[type="submit"]{width: 35%;}
 .footer-links{padding: 0;}

 }

/* Larger than tablet */
@media (min-width: 850px) {
  body{font-size: 18px;}
  .menu .menu-list{width: 25%;}
  .first-image{height: 300px;}
  .first-image .overlay{height: 300px;}
  input[type="email"]{width: 30%;}
  input[type="submit"]{width: 30%;}
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .menu .menu-list{width: 20%;}
  .banner-image{height: 300px;}
.banner-image .overlay{height: 300px;}
  input[type="email"]{width: 25%;}
  input[type="submit"]{width: 25%;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  body{font-size: 20px;}
}